body{
    font-family: 'Montserrat', serif, Arial, Helvetica, sans-serif; 
    font-size: 16px;
    line-height: 135%;
       
}

h2 {
    font-size: 200%;
    font-weight: 800;
}

h1{
    font-size: 200%;
    
}

.navbar-light{
    background-color:#ff6700;
    font-weight: 600;
    }

.navbar-light a{
    color: white;
}


.navbar-nav {
    color: white;
    margin-left: 500px;
    padding: 20px;
}

.navbar-nav .nav-link {
     color: #ffffff!important;
     padding: 10px;
     margin: 10px;
     font-size: 16px;
}

.navbar-nav .nav-link:hover {
    color: #3a6ea5!important;
}


#quem-somos{
    background-color: #ff6700;
    color: #ffffff;
    
}

#quem-somos img{
    margin-top: 60px;
    margin-bottom: 40px;
    
    width: 80%;
    border-radius: 5%;
}

#quem-somos p{
    margin-top: 60px;
    margin-bottom: 40px;
    
    width: 80%;
    border-radius: 5%;
    text-align: center;
    line-height: 145%;
}

#quem-somos h1{
    text-align: center;
    font-weight: 800;
    margin-top: 60px;
    margin-left: 20px;
    width: 80%;
    border-radius: 5%;

}

#transition{
    background-image:url(images/background1.jpg);
    background-size: 100%;
    width: 100%;
    height: 633px;
    padding: 0;
}

.gradient{
    position: absolute;
    width: 100%;
    height: 633px;
    background: linear-gradient(to bottom, rgba(241, 15, 15, 0.6) 0%,rgba(245, 97, 97, 0.4) 50%, rgba(247, 154, 142, 0.2) 100%);
}


.fotos h2{
    margin-top: 40px;
    margin-bottom: 40px;
    color: #3a6ea5;
        
}


.fotos img{
    width: 100%;
    height: 300px;
}

.overlay {
    position: relative;
  }
  
.overlay:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(74, 4, 80, 0.5); /* aqui você pode definir a cor do overlay */
    z-index: 1;
  }


.overlay:hover:before {
    background-color: rgba(245, 132, 3, 0.808); /* aqui você pode definir a cor do overlay que será exibida quando o mouse passar sobre a coluna */
  } 

#educadores p{
    margin-bottom: 50px;
}

#sociais{
    background-color:#ff6700;   
}
#sociais h2{
    color: white;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px!important;
    padding: 10px;
}

#sociais p{
    margin-bottom: 50px;
}

 